<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="tufte.css" TYPE="text/css" media="screen">
</head>

<body>
	<div class="container">
		<h1>College Booklet</h1>
		<hr>
		<form class="form-signin" method="post" action="/login">
			<h2 class="form-signin-heading">Please login</h2>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<p>
				<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required
					autofocus>
			</p>
			<p>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password"
					required>
			</p>
			<button class="btn btn-lg btn-primary btn-block" name="btn-login" type="submit">Login</button>
		</form>
	</div>
	<div>
		<p>
			<a id = "noAccount" th:href="@{/new-user}">If you don't have an account, click here to sign up!</a>
		</p>
	</div>
</body>

</html>