<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>College Booklet</title>
	<link rel="stylesheet" href="tufte.css" TYPE="text/css" media="screen">
</head>

<body>
	<h1>College Booklet</h1>
	<h2>
		<span id="studentName" th:text="${student.name}">Student Name</span> <span id="studentSurname"
			th:text="${student.surname}">Student
			Surname</span> <sub id="studentCollegeId" th:text="${student.collegeId}">Student
			College Id</sub>
	</h2>
	<hr>
	<div th:if="${student.examList.empty}">
		<div id="noExam">No exams</div>
	</div>
	<div th:unless="${student.examList.empty}">
		<table id="student.examList_table">
			<caption>My exams</caption>
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Date</th>
					<th scope="col">CFU</th>
					<th scope="col">Grade</th>
					<th scope="col">Laude</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="exam : ${student.examList}">
					<td th:text="${exam.name}"></td>
					<td th:text="${exam.date}"></td>
					<td th:text="${exam.cfu}"></td>
					<td th:text="${exam.grade}"></td>
					<td th:text="${exam.laude}"></td>
					<td><a id="delete" th:href='@{/delete(id=${exam.name})}'><button>Delete</button></a></td>
				</tr>
			</tbody>
		</table>
		<hr>
		Arithmetic Mean: <span id="meanId" th:text="${mean}">Mean</span>
		Weighted Mean: <span id="weightedMeanId" th:text="${weighted_mean}">Weighted
			Mean</span>
		<hr>
	</div>

	<div>
		<p>
			<a id="new" th:href="@{/new}"><button>Add a new exam</button></a>
		</p>
	</div>

	<div>
		<p>
			<a id="logout" th:href="@{/logout}">Logout</a>
		</p>
	</div>
</body>

</html>