<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Signup</title>
	<link rel="stylesheet" href="tufte.css" TYPE="text/css" media="screen">
</head>

<body>

	<div class="container">
		<h1>College Booklet</h1>
		<hr>
		<form class="form-signin" name="signup-form" method="post" action="#" th:action="@{/save-user}">
			<h2 class="form-signin-heading">Please signup</h2>
			<div th:unless="${message.empty}">
				<div><span id="message" style="color:darkred" th:text="${message}">Message</span></div>
			</div>
			<p>
				<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required
					autofocus th:field="${user.username}" pattern="[A-Za-z0-9_]{1,20}">
			</p>
			<p>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password"
					required th:field="${user.password}">
			</p>
			<p>
				<label for="name" class="sr-only">Name</label>
				<input type="text" id="name" name="name" class="form-control" placeholder="Name" required
					th:field="${student.name}" pattern="[A-Za-z]{1,20}">
			</p>
			<p>
				<label for="surname" class="sr-only">Surname</label>
				<input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required
					th:field="${student.surname}" pattern="[A-Za-z]{1,20}">
			</p>
			<p>
				<label for="collegeId" class="sr-only">College id</label>
				<input type="text" id="collegeId" name="collegeId" class="form-control" placeholder="College id"
					required th:field="${student.collegeId}" pattern="[A-Za-z0-9]{1,20}">
			</p>
			<button class="btn btn-lg btn-primary btn-block" name="btn-submit" type="submit">Signup</button>
		</form>
	</div>

</body>